* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0676b3;
  padding: 20px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px 10%;
    background: transparent;
    display: flex;
    align-items: left;
    z-index: 100%;
}

.navbar a{
    font-size: 18px;
    color: #460dd8;
    text-decoration: none;
    font-weight: 700;
    margin-left: 50px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    color: #e68f0e;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #dde3da;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d8d806;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 30px;
  background: #b2b4b0;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
